body>*:not(footer):not(nav) {
    margin-bottom: 60px;
}

body > section {
    margin-top: -80px;
    z-index: 5;
    position: relative;
}

body, html {
    background-color: #eee;
}

.wrapper {
    width: 95%;
    max-width: 1200px;
    height: inherit;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row>div {
    padding: 4px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.row-4>* {
    width: 25%;
}

.row-3>* {
    width: 33.333%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

h1,
h2 {
    margin: 0;
    margin-bottom: 20px;
}

span, li, a, p, label, td, .button {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0px;
}

p + h2 {
    margin-top: 20px;
}

p + p {
    margin: 10px 0 0 0;
}

a {
    text-decoration: none;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
}

.card + .card {
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding: 15px 0;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    font-weight: normal;
    margin-top: 20px;
}

.button.purple {
    background-color: rgb(79, 89, 166);
}

.button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.01);
}

nav {
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
    background-color: #FCFDFD;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
}

nav #logo i {
    top: 50%;
    transform: translateY(-50%);
    color: #2D2E32;
    font-size: 30px;
    position: absolute;
}

nav #menu input {
    display: none;
}

nav #menu input:checked~ol {
    display: flex;
}

nav #menu label {
    line-height: 80px;
    cursor: pointer;
}

nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav #menu ol {
    display: none;
    flex-direction: column;
    height: inherit;
    background-color: #FCFDFD;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
}

nav #menu>ol>li {
    height: inherit;
    position: relative;
}

nav #menu a {
    display: block;
    text-decoration: none;
    color: #2D2E32;
    box-sizing: border-box;
}

nav #menu>ol>li>a {
    height: inherit;
    padding: 0 20px 0 20px;
    text-align: center;
    line-height: 80px;
}

nav #menu ol ol {
    flex-direction: column;
    position: relative;
    height: auto;
    display: none;
    top: 0;
    background-color: #F7F7F7;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

nav #menu ol ol a {
    padding: 15px 0px;
    text-align: center;
}

nav #menu>ol>li:hover>a {
    background-color: #F7F7F7;
    text-decoration: underline;
    color: #4F59A6;
}

nav #menu ol ol li:hover a {
    color: #4F59A6;
}

nav #menu ol li:hover ol {
    display: block;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 1024px) {
    nav input+label {
        display: none;
    }
    nav #menu>ol {
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        top: 0px;
    }
    nav #menu ol ol {
        position: absolute;
        top: 80px;
        width: auto;
    }
    nav #menu ol ol a {
        text-align: left;
        padding: 20px 30px;
    }
}

header {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

header .text {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.small-header {
    height: 500px;
    margin-bottom: 0;
    background-color: red;
}

#topfooter {
    background-color: rgb(45, 46, 50);
    text-align: center;
}

#topfooter ul {
    list-style-type: none;
    padding: 0;
}

#topfooter h2 {
    font-size: 30px;
    color: white;
}

#topfooter a {
    color: white;
}

#topfooter a:hover {
    color: rgb(79, 89, 166);
}

#topfooter .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.column {
    margin-top: 25px;
    margin-bottom: 25px;
}

#bottomfooter {
    height: 50px;
    background-color: rgb(27, 27, 29);
}

#bottomfooter p {
    color: rgb(217, 214, 214);
    text-align: center;
    line-height: 50px;
    font-style: italic;
}

#bottomfooter p span {
    color: rgb(79, 89, 166);
    font-style: normal;
}

ul li {
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 480px) {
    #topfooter .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .outside {
        text-align: left;s
    }
}

.circle {
    background-color: white;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    line-height: 1;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.circle i {
    position: absolute;
    left: 0;
    top: 70%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    overflow: hidden;
    color: rgb(79, 89, 166);
}

.circle-big {
    background-color: white;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    line-height: 1;
    font-size: 35px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.circle-big i {
    position: absolute;
    left: 0;
    top: 55%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    overflow: hidden;
    color: rgb(79, 89, 166);
}