header {
  background-image:   url("../images/Contact.jpg");
}

.page-content .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}

.form {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

form {
    padding: 35px;
}

ul li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

form ul li div {
    display: inline-block;
}

form ul input[type=text],
form ul input[type=email],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    resize: none;
}

form ul input[type=text]:focus,
form ul input[type=email]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 8px rgb(79, 89, 166);
    box-shadow: 0 0 8px rgb(79, 89, 166);
    border: 1px solid rgb(79, 89, 166);
}

form ul #bericht {
    width: 100%;
    height: 100px;
}

form ul label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

form ul {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    font: 13px 'Raleway', sans-serif;
}

form ul input[type=submit], .form-style-1 input[type=button]{
    background: rgb(79, 89, 166);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

form ul input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: rgb(70, 78, 136);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

label span {
    color: red;
}

aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

.contact-card:nth-child(1) {
    margin-bottom: 60px;
}

.contact-card {
    position: relative;
    height: auto;
    background-color: rgb(252, 253, 253);
}

.contact-card .content {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .form, aside{
        padding: 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    aside {
        width: 30%;
        margin: 0;
    }

    .form {
        width: 70%;
    }
}
