header {
  background-image:   url("../images/Contact.jpg");
}

.page-content .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}

.form {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

form {
    padding: 35px;
}

ul li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
    position: relative;
}

form ul li div {
    width: 100%;
    position: relative;
}

form ul input,
form textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    resize: none;
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid #BEBEBE;
}

form ul input{
    margin-bottom: 20px;
}

form .underline{
    left: 0;
    background-color: rgb(79, 89, 166);
    bottom: 20px;
    height: 2px;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
form textarea + .underline {
    bottom: 2px;
}

form ul input:focus + .underline,
textarea:focus + .underline {
    -webkit-transform: scale(1);
            transform: scale(1);
}

form ul #bericht {
    width: 100%;
    height: 100px;
}

form ul label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    color: black;
    -webkit-transition: all 300ms;
    transition: all 300ms
}

form ul {
    margin: 0 auto;
    padding: 0;
    font: 13px 'Raleway', sans-serif;
}

form ul input[type=submit]{
    padding: 8px 15px 8px 15px;
    border: none;
    margin: 0 auto;
}

label span {
    color: red;
}

aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

.contact-card:nth-child(1) {
    margin-bottom: 60px;
}

.contact-card {
    position: relative;
    height: auto;
    background-color: rgb(252, 253, 253);
}

.contact-card .content {
    text-align: center;
}

@media screen and (min-width: 480px) {
    .two-group{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    form ul li div {
        width: 50%;
        position: relative;
    }
    form ul .two-group div:first-child{
        padding-right: 2.5px;
    }
    form ul .two-group div:last-child{
        padding-left: 2.5px;
    }

    form ul input[type="submit"]{
        width: 150px;
        margin: 0 0 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .form, aside{
        padding: 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    aside {
        width: 30%;
        margin: 0;
    }

    .form {
        width: 70%;
    }
}
