
.page-title {
    background-color: rgb(79, 89, 166);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page-title h1 {
    padding: 20px;
    color: white;
    text-align: center;
}

.page-content .wrapper {
    background-color: rgb(252, 253, 253);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    margin-top: 25px;
    width: 700px;
    height: 400px;
    background-color: orangered;
}

aside {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 25px 0 25px 5%;
}

.contact-card:nth-child(1) {
    margin-bottom: 60px;
}

.contact-card {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(252, 253, 253);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.contact-card .card-title {
    text-align: center;
    padding-top: 85px;
    padding-bottom: 3px;
    background-color: #E0E0E0;
}

.contact-card .content {
    text-align: center;
    margin-top: 10px;
}

.contact-card .circle-big {
    background-color: rgb(79, 89, 166);
    position: absolute;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -40px;
}

.contact-card .circle-big i {
    color: white;
}