header {
    background-image: url(https://i.ytimg.com/vi/mnNP-g-OSWc/maxresdefault.jpg);
}

section .wrapper {
    display: flex;
    flex-direction: column;
}

article, aside {
    padding: 5px;
}

aside {
    display: flex;
    flex-direction: column;
}

aside > h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 15px 0px;
    border: none;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table td:first-child {
    width: 12px;
    padding-left: 10px;
    padding-right: 5px;
}

table td:last-child {
    text-align: right;
    font-weight: 400;
    padding-right: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 89, 166);
    border-radius: 2px;
    padding: 10px 0;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.review {
    display: flex;
}

.review + .review {
    margin-top: 30px;
}

.review span {
    font-weight: 700;
}

.stars {
    display: flex;
    margin-top: 10px;
}

.star {
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background-color: #eee;
    margin: 0 2px;
}

.star:first-child {
    margin-left: 0px;
}

.star:last-child {
    margin-right: 0px;
}


.stars .rated {
    background-color: #FFD700;
}

@media screen and (min-width: 1024px) {
    section .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    article {
        width: 66.666%;
    }

    aside {
        width: 33.333%;
    }
}