body,
html {
    background-color: #eee;
}

header {
    position: relative;
    height: 100vh;
    background-image: url("../images/headerbg.jpg");
}

/* Why strange acting */
header{
    color: white;
}
header .wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header #header-content{
    position: relative;
    top: -100px;
}

header #header-content h1:after{
    content: "";
    display: block;
    margin-top: 5px;
    width: 50px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(79, 89, 166);
}

#contact {
    position: absolute;
    bottom: 40px;
    width: 90%;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

#contact div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    width: 100%;
}

#contact div:not(:last-child) {
    margin-bottom: 10px;
}

#contact i {
    font-size: 18px;
    padding-bottom: 10px;
}

#contact p {
    font-weight: 400;
    font-size: 13px;
}

#about img{
    width: 100%;
    height: auto;
}

#about article{
    margin-top: 30px;
}

#about article ol{
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}

#about article li{
    padding: 5px 0;
    font-weight: 400;
}

#about article li:first-child{
    padding-top: 0;
}

#about article li:last-child{
    padding-bottom: 0;
}

#about article i{
    color: green;
    margin-right: 10px;
}


#slider{
    height: 600px;
}

#slider .slider-inner{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
}

#slider .slider-inner article{
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: slider 20s infinite;
            animation: slider 20s infinite;
}

#slider article h1{
    margin-bottom: 0;
}

#slider article div{
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#slider .slider-inner article:first-child{
    background-image: url("../images/slider1.jpg");
}

#slider .slider-inner article:nth-child(2){
    background-image: url("../images/slider2.jpg");
}

#slider .slider-inner article:last-child{
    background-image: url("../images/slider3.jpg");
}

#slider .slider-inner div{
    background-color: black;
    padding: 10px;
    border-radius: 2px;
}

@-webkit-keyframes slider{
    0% {
        left: 0px;
    }

    12.5%{
        left: 0px;
    }

    25%{
        left: -100%;
    }

    37.5%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    62.5%{
        left: -200%;
    }

    75.0%{
        left: -100%;
    }

    87.5%{
        left: -100%
    }

    100%{
        left: 0;
    }

}

@keyframes slider{
    0% {
        left: 0px;
    }

    12.5%{
        left: 0px;
    }

    25%{
        left: -100%;
    }

    37.5%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    62.5%{
        left: -200%;
    }

    75.0%{
        left: -100%;
    }

    87.5%{
        left: -100%
    }

    100%{
        left: 0;
    }

}

#soorten-fietsen .card {
    min-height: 300px;
    width: 100%;
}


#news .news-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#news .news-container>div{
    width: 100%
}

#news .news-container article{
    padding: 0;
    height: 100%;
}

#news .content{
    padding: 20px;
}

#news .content h2 span{
    background-color:#18BDD4;
    padding: 2px;
    border-radius: 2px;
    color: white;
}

#news .image{
    overflow: hidden;
    width: 100%;
    height: 200px;
}

#news .image img{
    width: 100%;
    height: auto;
}



@media screen and (min-width: 480px) {
    #news .news-container{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #news .news-container>div{
        width: 50%;
    }
    #contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #contact:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: white;
        margin-bottom: 10px;
    }

    #contact div {
        width: 33.333%;
    }

    #contact div:not(:last-child) {
        margin-bottom: 0;
    }

    header #header-content{
        top: 0;
    }
}

@media screen and (min-width: 1024px) {
    #contact i {
        font-size: 25px;
        padding-bottom: 20px;
    }

    #contact span {
        font-size: 17px;
    }

    #about .wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    #about .wrapper div, #about .wrapper article{
        width: 50%;
    }

    #about article{
        padding-left: 20px;
        margin-top: 0;
    }

    #slider .slider-inner article{
        display: inline-block;
        left: -200%;
    }
    #slider .slider-inner article div{
        width: 400px;
        position: absolute;
    }

    #slider .slider-inner article:first-child div{
        left: 300px;
        top: 100px;
    }

    #slider .slider-inner article:nth-child(2) div{
        right: 150px;
        top: 150px;
        text-align: right;
    }

    #slider .slider-inner article:last-child div{
        left: 50px;
        top: 200px;
    }

    #news .news-container>div{
        width: 25%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
}
