body,
html {
    background-color: #eee;
}

header {
    position: relative;
    height: 100vh;
    background: url(https://www.hdwallpapers.in/walls/bicycle-wide.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Why strange acting */

header .wrapper {
    position: relative;
}

#contact {
    position: absolute;
    bottom: 80px;
    color: #fff;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    /* border: 1px solid #fff;
    border-radius: 2px; */
    display: flex;
    flex-direction: column;
}

#contact div {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

#contact div:not(:last-child) {
    margin-bottom: 10px;
}

#contact i {
    font-size: 20px;
    padding-bottom: 10px;
}

#contact span {
    font-weight: 400;
    font-size: 15px;
}

#over-ons .card {
    height: 300px;
}

.parallax {
    height: 500px;
    background-color: #95a5a6;
}

#soorten-fietsen .card {
    min-height: 300px;
    width: 100%;
}

footer {
    background-color: #bdc3c7;
    height: 300px;
}

@media screen and (min-width: 480px) {
    #contact {
        flex-direction: row;
    }

    #contact div {
        width: 33.333%;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    #contact i {
        font-size: 25px;
        padding-bottom: 20px;
    }
    
    #contact span {
        font-size: 17px;
    }
}