/* Coolors Exported Palette - coolors.co/001514-153243-9e9e9e-fffffc-f18805 */

/* HSL */
$color1: hsla(177%, 100%, 4%, 1);
$color2: hsla(202%, 52%, 17%, 1);
$color3: hsla(0%, 0%, 62%, 1);
$color4: hsla(60%, 100%, 99%, 1);
$color5: hsla(33%, 96%, 48%, 1);

/* RGB */
$color1: rgba(0, 21, 20, 1);
$color2: rgba(21, 50, 67, 1);
$color3: rgba(158, 158, 158, 1);
$color4: rgba(255, 255, 252, 1);
$color5: rgba(241, 136, 5, 1);