.roboto {
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    word-spacing: 1px;
    color: rgba(21, 50, 67, 1);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: rgba(158, 158, 158, 1);
}

span {
    color: rgba(241, 136, 5, 1);
}