body, html {
    background-color: #eee;
}

body>*:not(header):not(footer):not(nav) {
    margin-bottom: 60px;
}

.wrapper {
    width: 95%;
    height: 100%;
    max-width: 1400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row > div {
    padding: 4px;
    box-sizing: border-box; 
}

.row-4 > div{
    width: 25%;
}

h* {
    font-family: "Roboto", sans-serif;
}

p, a, span {
    font-family: "Open Sans", sans-serif
}

a{
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 20px 0px 20px 30px;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav {
    position: absolute;
    width: 100%;
    font-family: "Roboto", sans-serif;
    z-index: 1000;
    height: 80px;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
}

nav #menu {
    height: inherit;
}

nav img {
    position: relative;
    width: auto;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
}

nav #menu ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: inherit;
}

nav #menu > ol > li {
    height: inherit;
    position: relative;
}

nav #menu a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

nav #menu > ol > li > a {
    height: inherit;
    padding: 0 20px 0 20px;
    text-align: center;
    line-height: 80px;
}

nav #menu ol ol {
    position: absolute;
    flex-direction: column;
    height: auto;
    display: none;    
    background-color: #7f8c8d;
}

nav #menu ol ol a {
    padding: 10px 10px 10px 20px;
}

nav #menu > ol li:hover {
    background-color: #BBBEBE;
}

nav #menu ol li:hover ol{
    display: block;
}

header {
    position: relative;
    top: 0;
    height: 600px;
    background-color: #bdc3c7;
    width: 100%;
}

#contact {
    height: 50px;
    background-color: #95a5a6;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#contact a {
    color: #fff;
}

#contact a:first-child {
    margin-right: 30px;
}

#contact a:last-child {
    margin-left: 30px;
}

#contact i {
    margin-right: 10px;
}


#over-ons .card {
    height: 300px;
}

#slider {
    height: 500px;
    background-color: #95a5a6;
}

#soorten-fietsen .card {
    min-height: 300px;
    width: 100%;
}


footer {
    background-color: #bdc3c7;
    height: 300px;
}

