.wrapper {
    width: 100%;
    max-width: 1400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgba(21, 50, 67, 0.5);
    font-family: "Roboto", sans-serif;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
}

nav #logo {
  
}

nav #menu ol {
   list-style: none;
   padding: 0;
   margin: 0;
   height: 100%;
   display: flex;
}

nav #menu ol li {
    position: relative;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

nav #menu ol li a {
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    width: 100px;
    display: block;
}

nav #menu ol ol {
    left: 0;
    top: 100%;
    flex-direction: column;
    background-color: rgba(21, 50, 67, 0.5);
    height: auto;   
    position: absolute;
}

nav #menu ol ol li {
    line-height: 1; 
    text-align: left;
    height: auto;
    display: none;
    /* Vertical Center Text in Li */
}

nav #menu ol ol li a {
    display: block;
    padding: 20px;
    width: auto;
}

nav #menu ol li:hover {
    background-color: rgba(21, 50, 67, 0.7);
}

nav #menu ol li:hover ol li {
    display: block;
}

