body, html {
    background-color: #eee;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

h1, h3 {
    font-family: "Roboto", sans-serif;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #95a5a6;
    font-family: "Roboto", sans-serif;
    z-index: 1000;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
}

nav #logo {
  
}

nav #menu ol {
   list-style: none;
   padding: 0;
   margin: 0;
   height: 100%;
   display: flex;
}

nav #menu ol li {
    position: relative;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

nav #menu ol li a {
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    width: 100px;
    display: block;
}

nav #menu ol ol {
    left: 0;
    top: 100%;
    flex-direction: column;
    background-color: #7f8c8d;
    height: auto;   
    position: absolute;
}

nav #menu ol ol li {
    line-height: 1; 
    text-align: left;
    height: auto;
    display: none;
    /* Vertical Center Text in Li */
}

nav #menu ol ol li a {
    display: block;
    padding: 20px;
    width: auto;
}

nav #menu ol li:hover {
    background-color: #7f8c8d;
}

nav #menu ol li:hover ol li {
    display: block;
}

header {
    position: relative;
    top: 0;
    height: 600px;
    background-color: #bdc3c7;
    width: 100%;
}

#contact {
    height: 100px;
    background-color: #95a5a6;
}

/* footer {
    background-color: #bdc3c7;
    height: 120px;
    top: 100%;
    margin-top: -120px;
} */

